body {
  background-color:#dd9977
}

.textbox { 
  border-radius:30px;
  position:relative;
  margin:8% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
}

.text {
  text-align:center;
}

.tweet {
  
}

.newquo {
  
}
