.centerpiece {
  background-color: lightgrey;
    width: 200px;
    padding: 25px;
    border: 25px solid #771f1f;
    margin: 25px;
    margin-left:auto;
    margin-right:auto;
    height:300px;
    border-radius:30px;
}

.love {
  height:50px;
  width:200px;
  background-color:#771f1f;
  text-align:right;
  margin-bottom:10px;
}